apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: ZZ_Frame
  name: ZZ_Frame
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ZZ_Frame
  strategy: {}
  template:
    metadata:
      labels:
        app: ZZ_Frame
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - image: localhost:5000/ZZ_Frame:latest
          name: ZZ_Frame
          resources: {}
          envFrom:
            - secretRef:
                name: zz_frame-dep-secret
          volumeMounts:
            - name: uploads
              mountPath: /uploads
      volumes:
        - name: uploads
          persistentVolumeClaim:
            claimName: nfs-pvc
status: {}
